WHISPER_AUTH_USERNAME=admin
WHISPER_AUTH_PASSWORD=change-me
WHISPERX_MODEL=large-v3
WHISPERX_DEVICE=cuda
WHISPERX_POOL_SIZE=2
WHISPERX_ALIGNMENT_DEVICE=cuda
WHISPERX_GERMAN_ALIGNMENT_MODEL=jonatasgrosman/wav2vec2-large-xlsr-53-german
WHISPERX_ESTIMATED_WORKER_GB=6
WHISPERX_COMPUTE_TYPE=float16
WHISPERX_FLASH_ATTENTION=0
WHISPERX_BEAM_SIZE=5
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True
